<p class="font-weight-bold">PL 89 1240 4517 2254 3848 6171 2248</p>
<p>Fundacja Społeczeńśtwo 2.0</p>
<p>41-800 Zabrze</p>
<p>ul. 3maja 87B / 11</p>
<p>W tytule podać: darowizna + opcjonalnie swój email do kontaktu.</p>
