<h5><a href="{{ 'o-nas'|page}}">Przejrzystość i uczciwość w życiu publicznym</a></h5>
                        <p>Zgodnie ze statutem najważniejszym elementem naszej pracy jest zwiększenie uczciwoiści i
                            przejrzystości w życiu publicznym, przez dopytywanie polityków i samorządowców o sprawy
                            niejasne dla
                            społeczeństwa.</p>