<h5><a href="#">Nowoczesne media i technologie</a></h5>
<p>Dzięki nowym środkom komunikacji wdrażamy informowanie obywateli o tym co istotne w ich
    okręgu, w
    dogodny sposób.
    Jednocześnie planujemy wdrożenie aplikacji, która ułatwi głosowanie w projektach
    obywatelskich.</p>