{% set posts = __SELF__.posts %}
{% for post in posts %}

    <div class="media post_item">
        <div class="media-body">
            <a href="{{post.url}}">
                <h3 style="color: #2d2d2d;">{{str_limit(post.title,50)}}</h3>
            </a>
            <p>{{post.published_at|date()}}</p>
        </div>
    </div>
<hr>
{% else %}
<li class="no-data">{{ __SELF__.noPostsMessage }}</li>
{% endfor %}


{% if posts.lastPage > 1 %}
<ul class="pagination">
    {% if posts.currentPage > 1 %}
    <li><a href="{{ this.page.baseFileName | page({ (__SELF__.pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a>
    </li>
    {% endif %}

    {% for page in 1..posts.lastPage %}
    <li class="{{ posts.currentPage == page ? 'active' : null }}">
        <a href="{{ this.page.baseFileName | page({ (__SELF__.pageParam): page }) }}">{{ page }}</a>
    </li>
    {% endfor %}

    {% if posts.lastPage > posts.currentPage %}
    <li><a href="{{ this.page.baseFileName | page({ (__SELF__.pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
