<form class="form-contact contact_form" data-request="{{ __SELF__ }}::onFormSubmit">

    {{ form_token() }}

    <div id="{{ __SELF__ }}_forms_flash"></div>

    <div class="form-group">
        <label for="name">Imię:</label>
        <input type="text" id="name" name="name" class="form-control">
    </div>

    <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" class="form-control">
    </div>

    <div class="form-group">
        <label for="subject">Temat:</label>
        <input type="text" id="subject" name="subject" class="form-control">
    </div>

    <div class="form-group">
        <textarea class="form-control" id="comments" name="comments" rows="8" cols="80"></textarea>
    </div>

    <div class="form-group">
        {% partial '@recaptcha' %}
    </div>

    <button id="simpleContactSubmitButton" type="submit" class="btn btn-default">Wyślij</button>

</form>
