{% set posts = __SELF__.posts %}
{% for post in posts %}
<article class="blog_item">
    <div class="blog_item_img">
        {% for image in post.featured_images %}
        <p>
            <img
                src="{{ image.path }}"
                alt="{{ post.title }}"
                class="img-fluid"
                style="max-width: 100%;"/>
        </p>
        {% endfor %}

    </div>
    <div class="blog_details">
        <a class="d-inline-block" href="{{post.url}}">
            <h1 class="blog-head" style="color: #2d2d2d;">{{ post.title }}</h1>
        </a>

        <p>{{ post.excerpt }}</p>
        <p>{{str_limit(html_strip(post.content_html), 140)}}</p>
        <ul class="blog-info-link">
            {% if post.categories.count > 1 %}
            <li>
                Opublikowano <span style="font-style: italic">{{ post.published_at|date }}</span> w kategoriach:
                {% for category in post.categories %}
                <a href="{{ category.slug }}"> {{ category.name }} | </a>
                {% endfor %}
            </li>
            {% else %}
            <li>
                Opublikowano <span style="font-style: italic">{{ post.published_at|date }}</span> w kategorii:
                {% for category in post.categories %}
                <a href="{{ category.slug }}"> {{ category.name }}</a>
                {% endfor %}
            </li>
            {% endif %}
<!--            <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>-->
        </ul>
    </div>
</article>
{% else %}
<li class="no-data">{{ __SELF__.noPostsMessage }}</li>
{% endfor %}


{% if posts.lastPage > 1 %}
<ul class="pagination">
    {% if posts.currentPage > 1 %}
    <li><a href="{{ this.page.baseFileName | page({ (__SELF__.pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a>
    </li>
    {% endif %}

    {% for page in 1..posts.lastPage %}
    <li class="{{ posts.currentPage == page ? 'active' : null }}">
        <a href="{{ this.page.baseFileName | page({ (__SELF__.pageParam): page }) }}">{{ page }}</a>
    </li>
    {% endfor %}

    {% if posts.lastPage > posts.currentPage %}
    <li><a href="{{ this.page.baseFileName | page({ (__SELF__.pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
