{% set posts = __SELF__.posts %}
{% for post in posts %}


<div class="col-xl-6 col-lg-6 col-md-6">
    <div class="home-blog-single mb-30">
        <div class="blog-img-cap">
            <div class="blog-img">
                {% for image in post.featured_images %}
                <p>
                    <img class="img-fluid"
                        data-src="{{ image.filename }}"
                        src="{{ image.path }}"
                        alt="{{ image.description }}"
                        style="max-width: 100%" />
                </p>
                {% endfor %}

<!--                <div class="blog-date text-center">-->
<!--                    <span>03</span>-->
<!--                    <p>Marzec</p>-->
<!--                </div>-->
            </div>
            <div class="blog-cap">
                <p></p>
                <h3><a href="{{post.url}}">{{ post.title }}</a></h3>
            </div>
        </div>
    </div>
</div>
 {% endfor %}
