{% set posts = __SELF__.posts %}
{% for post in posts %}

<div class="single-job-items mb-30">
    <div class="job-items">
        <div class="company-img">
            {% for image in post.featured_images %}
            <p>
                <img
                    src="{{ image.path }}"
                    alt="{{ post.title }}"
                    class="img-fluid"
                    style="max-width: 250px;"/>
            </p>
            {% endfor %}
        </div>
        <div class="job-tittle">
            <a href="{{ post.url }}">
                <h4>{{ post.title }}</h4>
            </a>
            <ul>
                <li><i class="fas fa-calendar-alt"></i>{{ post.published_at|date }}</li>
            </ul>
        </div>
    </div>
</div>

{% else %}
<li class="no-data">{{ __SELF__.noPostsMessage }}</li>
{% endfor %}


{% if posts.lastPage > 1 %}
<ul class="pagination">
    {% if posts.currentPage > 1 %}
    <li><a href="{{ this.page.baseFileName | page({ (__SELF__.pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a>
    </li>
    {% endif %}

    {% for page in 1..posts.lastPage %}
    <li class="{{ posts.currentPage == page ? 'active' : null }}">
        <a href="{{ this.page.baseFileName | page({ (__SELF__.pageParam): page }) }}">{{ page }}</a>
    </li>
    {% endfor %}

    {% if posts.lastPage > posts.currentPage %}
    <li><a href="{{ this.page.baseFileName | page({ (__SELF__.pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
