description = "Layout dla Fundacji Społeczeństwo 2.0"
==
<!doctype html>
<html class="no-js" lang="pl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Fundacja SPOŁECZEŃSTWO 2.0</title>
    <meta name="description"
          content="Fundacja Społeczeńśtwo 2.0 to organ pozarządowy, zajmujący się transparentnością władzy,
          promujący dostęp do informacji publicznej oraz walczący w imię obywateli z machinami systemu.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{{ 'assets/img/favicon-32x32.png' }}">

    <link rel="stylesheet" href="{{ 'assets/css/bootstrap.min.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/owl.carousel.min.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/slicknav.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/flaticon.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/progressbar_barfiller.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/gijgo.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/animate.min.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/animated-headline.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/magnific-popup.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/fontawesome-all.min.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/themify-icons.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/slick.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/nice-select.css'|theme }}">
    <link rel="stylesheet" href="{{ 'assets/css/style.css'|theme }}">
    {% styles %}

</head>
    <body>

        <div id="preloader-active">
            <div class="preloader d-flex align-items-center justify-content-center">
                <div class="preloader-inner position-relative">
                    <div class="preloader-circle"></div>
                    <div class="preloader-img pere-text">
                        <img src="{{ 'assets/img/logo.png'|theme }}" alt="logo_fundacja_społeczeństwo_20">
                    </div>
                </div>
            </div>
        </div>

        <header>
            {% partial 'header' %}
        </header>

        <main>
            {% page %}
        </main>

        <footer>
            {% partial 'footer' %}
        </footer>

        <div id="back-top">
            <a title="Do góry" href="#"> <i class="fas fa-level-up-alt"></i></a>
        </div>

        <script src="{{ 'assets/js/vendor/modernizr-3.5.0.min.js'|theme }}"></script>

        <script src="{{ 'assets/js/vendor/jquery-1.12.4.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/popper.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/bootstrap.min.js'|theme }}"></script>

        <script src="{{ 'assets/js/jquery.slicknav.min.js'|theme }}"></script>

        <script src="{{ 'assets/js/owl.carousel.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/slick.min.js'|theme }}"></script>

        <script src="{{ 'assets/js/wow.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/animated.headline.js'|theme }}"></script>
        <script src="{{ 'assets/js/jquery.magnific-popup.js'|theme }}"></script>

        <script src="{{ 'assets/js/gijgo.min.js'|theme }}"></script>

        <script src="{{ 'assets/js/jquery.nice-select.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/jquery.sticky.js'|theme }}"></script>

        <script src="{{ 'assets/js/jquery.barfiller.js'|theme }}"></script>

        <script src="{{ 'assets/js/jquery.counterup.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/waypoints.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/jquery.countdown.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/hover-direction-snake.min.js'|theme }}"></script>

        <script src="{{ 'assets/js/contact.js'|theme }}"></script>
        <script src="{{ 'assets/js/jquery.form.js'|theme }}"></script>
        <script src="{{ 'assets/js/jquery.validate.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/mail-script.js'|theme }}"></script>
        <script src="{{ 'assets/js/jquery.ajaxchimp.min.js'|theme }}"></script>

        <script src="{{ 'assets/js/plugins.js'|theme }}"></script>
        <script src="{{ 'assets/js/main.js'|theme }}"></script>
        {% framework extras %}
        {% scripts %}

    </body>
</html>
