title = "blog"
url = "blog"
layout = "default"
meta_title = "Fundacja Społeczeńśtwo 2.0 | BLOG"
meta_description = "Poznaj artykuły Fundacji Społeczeństwo 2.0"
is_hidden = 0

[blogCategories categoryList]
slug = "{{ :slug }}"
displayEmpty = 1
categoryPage = "category"

[blogPosts postList]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :slug }}"
postsPerPage = 5
noPostsMessage = "Nie znaleziono postów"
sortOrder = "published_at desc"
categoryPage = "blog"
postPage = "blog_details"
==
<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                {% component 'postList' %}
                </div>
            </div>
            <div class="col-lg-4">
                {% partial "blog/asside-panel.htm" %}
            </div>
        </div>
    </div>
</section>
