title = "blog"
url = "/blog/:slug"
layout = "default"
description = "Strona z widokiem pojedynczego wpisu"
meta_title = "Fundacja Społeczeńśtwo 2.0 | {{post.title}}"
meta_description = "Poznaj artykuły Fundacji Społeczeństwo 2.0"
is_hidden = 0

[blogPost singlePost]
slug = "{{ :slug }}"
categoryPage = "blog"
==
<section class="blog_area single-post-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 posts-list">
                    {% component 'singlePost' %}
                </div>
<!--                <div class="col-lg-4">-->
<!--                    <div class="blog_right_sidebar">-->
<!--                        {% partial "blog/asside-panel.htm" %}-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </section>
