title = "category"
url = ":slug/:page?"
layout = "default"
description = "Widok strony z wpisami konkretnej kategorii"
is_hidden = 0

[blogPosts postList]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :slug }}"
postsPerPage = 5
noPostsMessage = "Nie znaleziono postów"
sortOrder = "published_at desc"
categoryPage = "category"
postPage = "blog_details"
==
<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                {% component 'postList' %}
                </div>
            </div>
            <div class="col-lg-4">
                {% partial "blog/asside-panel.htm" %}
            </div>
        </div>
    </div>
</section>
