title = "kontakt"
url = "/kontakt"
layout = "default"
description = "Fundacja Społeczeństwo 2.0 | Kontakt"
meta_title = "Fundacja Społeczeństwo 2.0 | Kontakt"
meta_description = "Kontakt do Fundacji Społeczeństwo 2.0"
is_hidden = 0

[genericForm contactForm]
rules[name] = "string|required"
rules[email] = "email|required"
rules[subject] = "sometimes|string"
rules_messages[name.required] = "Imię jest wymagane!"
rules_messages[email.required] = "Email jest wymagany!"
rules_messages[subject|string] = "W temacie możesz użyć tylko liter i cyfr."
messages_success = "Wysłano wiadomość poprawnie"
messages_errors = "Coś poszło nie tak"
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_enabled = 0
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
emails_date_format = "Y-m-d"
==
<div class="slider-area2">
    <div class="slider-height2 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap hero-cap2 pt-20 text-center">
                        <h2>Kontakt</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="contact-section">
    <div class="container">
        <div class="d-none d-sm-block mb-5 pb-4">
        </div>
        <div class="row">
            <div class="col-12">
                <h2 class="contact-title">Kontakt</h2>
            </div>
            <div class="col-lg-8">
                {% component 'contactForm' %}
            </div>
            <div class="col-lg-3 offset-lg-1">
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-home"></i></span>
                    <div class="media-body">
                        {% content "contact/address.htm" %}
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                    <div class="media-body">
                        <h3>{% content "contact/phone.htm" %}</h3>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-email"></i></span>
                    <div class="media-body">
                        <h3><a href="mailto:{% content "contact/email.htm" %}" class="">{% content "contact/email.htm" %}</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>