title = "o-nas"
url = "/o-nas"
layout = "default"
description = "Fundacja Społeczeństwo 2.0 | O nas - poznaj nasz zespół i cele!"
meta_title = "Fundacja Społeczeństwo 2.0 | O nas - poznaj nasz zespół i cele"
meta_description = "Fundacja Społeczeństwo 2.0 | O nas, kim jesteśmy"
is_hidden = 0
==
<div class="slider-area2">
      <div class="slider-height2 d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-xl-12">
              <div class="hero-cap hero-cap2 pt-20 text-center">
                <h2>O nas</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="service-area section-padding30">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">

            <div class="section-tittle text-center mb-80">
              <span>Nasza misja</span>
              <h2>Pragniemy oddać kontrolę w ręce obywateli.</h2>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-cat text-center mb-50">
                    <div class="cat-icon">
                        <span class="flaticon-null-1"></span>
                    </div>
                    <div class="cat-cap">
                        {% content "mission_section/first_col.htm" %}
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-cat active text-center mb-50">
                    <div class="cat-icon">
                        <span class="flaticon-think"></span>
                    </div>
                    <div class="cat-cap">
                        {% content "mission_section/second_col.htm" %}
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-cat text-center mb-50">
                    <div class="cat-icon">
                        <span class="flaticon-gear"></span>
                    </div>
                    <div class="cat-cap">
                        {% content "mission_section/third_col.htm" %}

                    </div>
                </div>
            </div>
        </div>
        <div class="text-left section-tittle">
          <a href="{{ 'statut'|page }}" class="btn" style="color: black; border: 2px #28a745 solid; background-color: transparent !important;">Zapoznaj się z naszym statutem</a>
        </div>

      </div>
    </div>


    <section class="about-low-area section-padding2">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-10">
            <div class="about-caption mb-50">

              <div class="section-tittle mb-35">
                <span>O nas słów kilka</span>
               <h2>{% content "about_us_section/header.htm" %}</h2>
              </div>
             <p>{% content "about_us_section/first_paragraph.htm" %}</p>
            <p>{% content "about_us_section/second_paragraph.htm" %}</p>
            </div>
            <a href="about.html" class="btn">Sprawdź nas!</a>
          </div>
          <div class="col-lg-6 col-md-12">

            <div class="about-img ">
              <div class="about-font-img d-none d-lg-block">
                <img style="max-height: 250px; border: 5px green solid;" class="img-fluid responsive"
                  src="https://images.unsplash.com/photo-1469571486292-0ba58a3f068b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80"
                  alt="">
              </div>
              <div class="about-back-img ">
                <img style="margin-right: -75px; max-height: 700px;" class='img-fluid responsive'
                  style="max-height: 150px;"
                  src="https://images.unsplash.com/photo-1554324282-930f8e66b77e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=976&q=80"
                  alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="wantToWork-area ">
      <div class="container">
        <div class="wants-wrapper w-padding2  section-bg" data-background="{{ 'assets/img/gallery/section_bg01.png'|theme }}">
          <div class="row align-items-center justify-content-between">
            <div class="col-xl-5 col-lg-9 col-md-8">
              <div class="wantToWork-caption wantToWork-caption2">
                <h2>Zmianę świata zacznij od od swojego powiatu!</h2>
              </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4">
              <a href="{{ 'kontakt'|page }}" class="btn white-btn f-right sm-left">Zostań lokalnym wolontariuszem!</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="team-area pt-160 pb-160">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">

            <div class="section-tittle section-tittle2 text-center mb-70">
              <span>Kim jesteśmy?</span>
              <h2>Poznaj nasz zarząd i radę nadzorczą</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-team mb-30">
              <div class="team-img">
                <img src="{{ 'assets/img/about/Michał.jpg'|theme }}" alt="">

                <ul class="team-social">
                  <li><a href="https://www.facebook.com/profile.php?id=100001636511225"><i
                        class="fab fa-facebook-f"></i></a></li>
                </ul>
              </div>
              <div class="team-caption">
                <h3><a href="instructor.html">Michał Hankus</a></h3>
                <p>Prezes zarządu</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-team mb-30">
              <div class="team-img">
                <img src="{{ 'assets/img/about/aurelia.jpg'|theme }}" alt="">

                <ul class="team-social">
                  <li><a href="https://www.facebook.com/profile.php?id=100004331564760"><i
                        class="fab fa-facebook-f"></i></a></li>
                </ul>
              </div>
              <div class="team-caption">
                <h3><a href="#">Aurelia Jonecko</a></h3>
                <p>Wiceprezes zarządu</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-team mb-30">
              <div class="team-img">
                <img src="{{ 'assets/img/about/artur.jpg'|theme }}" alt="">

                <ul class="team-social">
                  <li><a href="https://www.facebook.com/artur.kaszycki.ar3"><i class="fab fa-facebook-f"></i></a></li>
                </ul>
              </div>
              <div class="team-caption">
                <h3><a href="#">Artur Kaszycki</a></h3>
                <p>Członek rady nadzorczej</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-team mb-30">
              <div class="team-img">
                <img src="{{ 'assets/img/about/tomasz.jpg'|theme }}" alt="">

                <ul class="team-social">
                  <li><a href="https://www.facebook.com/tomasz.jedruch.7"><i class="fab fa-facebook-f"></i></a></li>
                </ul>
              </div>
              <div class="team-caption">
                <h3><a href="#">Tomasz Jędruch</a></h3>
                <p>Członek rady nadzorczej</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="count-down-area pt-25 section-bg" data-background="{{ 'assets/img/gallery/section_bg02.png'|theme }}">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12 col-md-12">
            <div class="count-down-wrapper">
              <div class="row justify-content-between">
                <div class="col-lg-3 col-md-6 col-sm-6">

                  <div class="single-counter text-center">
                    <span class="counter color-green">6,200</span>
                    <span class="plus">+</span>
                    <p class="color-green">Donation</p>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">

                  <div class="single-counter text-center">
                    <span class="counter color-green">80</span>
                    <span class="plus">+</span>
                    <p class="color-green">Fund Raised</p>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">

                  <div class="single-counter text-center">
                    <span class="counter color-green">256</span>
                    <span class="plus">+</span>
                    <p class="color-green">Donation</p>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">

                  <div class="single-counter text-center">
                    <span class="counter color-green">256</span>
                    <span class="plus">+</span>
                    <p class="color-green">Donation</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>