title = "statut"
url = "/statut"
layout = "default"
meta_title = "Fundacja Społeczeństwo 2.0 | Statut"
meta_description = "Statut Fundacji Społeczeństwo 2.0"
is_hidden = 0
==
<div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 pt-20 text-center">
                            <h2>Statut Fundacji Społeczeństwo 2.0</h2>
                            <h4>stan na 02.03.2020</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="contact-section">
        <div class="container">
            <div class="d-sm-block mb-5 pb-4">
                <h2 class="text-center">
                    Rozdział I. Postanowienia ogólne
                </h2>

                <p class='font-weight-bold text-center'>§ 1</p>
                <ul>
                    <li>1. Fundacja Społeczeństwo 2.0, zwana dalej Fundacją, działa na podstawie Ustawy z dn.
                        6 kwietnia 1984r. o fundacjach oraz postanowień niniejszego statutu.</li>
                    <li>2. Fundacja została ustanowiona dnia 27.02.2020 przez:
                        Aurelię Jonecko oraz
                        Michała Hankusa
                        zwanych dalej Fundatorami, aktem notarialnym
                        repertorium „A” Nr 899/2020, sporządzonym przed notariuszem Mirosławem Szurą,
                        w jego Kancelarii Notarialnej w Katowicach przy ulicy Granicznej 29.</li>
                </ul>
                <p class='font-weight-bold text-center'>§ 2</p>
                <ul>
                    <li>1. Siedzibą Fundacji jest Zabrze.</li>
                    <li>2. Czas trwania Fundacji jest nieoznaczony.</li>
                    <li>3. Terenem działania Fundacji jest cały obszar Rzeczpospolitej Polskiej, przy czym w zakresie
                        niezbędnym dla właściwego realizowania celów, Fundacja może prowadzić działalność
                        także poza granicami Rzeczpospolitej Polskiej.</li>
                </ul>

                <p class='font-weight-bold text-center'>§ 3</p>

                <ul>
                    <li>1. Fundacja posiada osobowość prawną.</li>
                    <li>2. Nadzór nad Fundacją sprawuje minister właściwy do spraw zabezpieczenia społecznego.</li>
                </ul>

                <p class='font-weight-bold text-center'>§ 4</p>

                Fundacja może ustanawiać certyfikaty, odznaki, medale honorowe i przyznawać je wraz z innymi
                nagrodami i wyróżnieniami osobom fizycznym i prawnym zasłużonym dla fundacji,
                przyczyniającym się do realizacji celów Fundacji.

                <h2 class="text-center mt-5">
                    Rozdział II. Cele i zasady działania Fundacji
                </h2>

                <p class='font-weight-bold text-center'>§ 5</p>

                Celem Fundacji jest:
                <ul>
                    <li>1. zwiększanie przejrzystości i uczciwości w życiu publicznym, </li>
                    <li>2. promowanie dostępu do informacji publicznej,</li>
                    <li>3. upowszechnianie idei kontroli obywatelskiej,</li>
                    <li>4. ochrona praw człowieka i równości wszystkich ludzi,</li>
                    <li>5. wspieranie kultury lokalnej i regionalnej,</li>
                    <li>6. aktywizacja społeczności lokalnej i budowanie świadomości społecznej obywateli,</li>
                    <li>7. rozwój demokracji, wzmacnianie społeczeństwa obywatelskiego,</li>
                    <li>8. działania na rzecz integracji oraz rozwijania kontaktów i współpracy między</li>
                    <li>społeczeństwami oraz rozwój wspólnot i społeczności lokalnych,</li>
                    <li>
                        9. przeciwdziałanie dyskryminacji ze względu na płeć, rasę, wiek, wyznanie, preferencje
                        seksualne, stan zdrowia czy status społeczny,</li>
                    <li>10. budowanie form dialogu pomiędzy biznesem, nauką, kulturą i jednostkami samorządu
                        terytorialnego,</li>
                    <li>11. promowanie, upowszechnianie i udostępnianie nowoczesnych mediów i technologii, w tym
                        upowszechnianie nowych technologii w administracji publicznej,</li>
                    <li>12. przeciwdziałanie korupcji i nepotyzmowi w jednostkach publicznych,</li>
                    <li>13. ochrona przyrody, w tym ochrona praw zwierząt,</li>
                    <li>14. promowanie zdrowego stylu życia.</li>
                </ul>

                <p class='font-weight-bold text-center'>§ 6</p>

                <ul>
                    <li> 1. Fundacja realizuje swoje cele poprzez prowadzenie działalności nieodpłatnej i odpłatnej.
                    </li>
                    <li>
                        2. Formami realizacji celów są w szczególności:
                        <ol>
                            <li>2.1. działalność informacyjna, opiniodawcza lub doradcza,</li>
                            <li>2.2. działalność badawcza, analityczna lub naukowa,</li>
                            <li>2.3. działania na rzecz swobodnego dostępu do informacji publicznej,</li>
                            <li>2.4. działania z zakresu kontroli obywatelskiej,</li>
                            <li>2.5. udzielanie wsparcia i pomocy prawnej,</li>
                            <li>2.6. organizowanie lub wspieranie imprez kulturalnych,</li>
                            <li>2.7. promocja kultury i sztuki lokalnej i regionalnej,</li>
                            <li>2.8. udział w postępowaniach sądowych i administracyjnych w sprawach
                                wynikających z celów statutowej działalności Fundacji,</li>
                            <li>2.9. monitorowanie działań władz samorządowych i innych instytucji publicznych,</li>
                            <li>2.10. monitorowanie kampanii przedwyborczych,</li>
                            <li>2.11. monitorowanie podmiotów prywatnych i publicznych, łamiących prawa
                                człowieka, prawa zwierząt, czy mogących negatywnie wpływać na środowisko
                                naturalne,</li>
                            <li>2.12. poszukiwanie i wdrażanie innowacyjnych rozwiązań w ramach realizacji celów
                                Fundacji,</li>
                            <li>2.13. organizowanie akcji charytatywnych,</li>
                            <li>2.14. organizowanie lub prowadzenie programów, debat publicznych czy kampanii
                                informacyjnych,</li>
                            <li>2.15. prowadzenie działalności wydawniczej i publicystycznej,</li>
                            <li>2.16. tworzenie i/lub prowadzenie portali internetowych, for czy list dyskusyjnych,</li>
                            <li>2.17. promowanie oraz upowszechnianie stosowania mediów społecznościowych i
                                innych technologii do celów sprawowania kontroli obywatelskiej,</li>
                            <li>2.18. organizowanie odczytów, seminariów, sympozjów, warsztatów i szkoleń w
                                zakresie objętym celami Fundacji,</li>
                            <li>2.19. współpraca z osobami i organizacjami prowadzącymi działalność spójną z
                                działaniami Fundacji.</li>
                        </ol>
                    </li>
                    <li>3. Fundacja w swoim działaniu kieruje się jawnością, apolitycznością i obiektywizmem.</li>
                </ul>

                <h2 class="text-center mt-5">
                    Rozdział III. Majątek i dochody Fundacji
                </h2>

                <p class='font-weight-bold text-center'>§ 7</p>

                Majątek Fundacji stanowi fundusz założycielski w kwocie 1000zł (jeden tysiąc złotych) oraz inne
                mienie nabyte przez Fundację w toku działania.

                <p class='font-weight-bold text-center'>§ 8</p>

                <ul>
                    <li> 1. Przychody Fundacji mogą pochodzić z:</li>
                    <li> 1.1. darowizn, spadków, zapisów,</li>
                    <li> 1.2. dotacji i subwencji osób prawnych,</li>
                    <li> 1.3. zbiórek i imprez publicznych,</li>
                    <li> 1.4. majątku fundacji,</li>
                    <li> 1.5. odsetek bankowych.</li>
                    <li>
                        2. Całość dochodów uzyskiwanych przez Fundację jest przeznaczona wyłącznie na działalność
                        statutową.
                    </li>
                </ul>

                <p class='font-weight-bold text-center'>§ 9</p>

                W Fundacji zabronione jest:
                <ul>
                    <li>
                        1. udzielanie pożyczek lub zabezpieczanie zobowiązań majątkiem Fundacji w stosunku do jej
                        Fundatorów, członków organów lub pracowników oraz osób, z którymi Fundatorzy,
                        członkowie organów oraz pracownicy pozostają w związku małżeńskim, we wspólnym
                        pożyciu albo w stosunku pokrewieństwa lub powinowactwa w linii prostej, pokrewieństwa
                        lub powinowactwa w linii bocznej do drugiego stopnia albo są związani z tytułu
                        przysposobienia, opieki lub kurateli, zwanych dalej „osobami bliskimi”,
                    </li>
                    <li>
                        2. przekazywanie majątku Fundacji na rzecz Fundatorów, członków organów lub pracowników
                        oraz ich osób bliskich, na zasadach innych niż w stosunku do osób trzecich,
                    </li>
                    <li>
                        3. wykorzystywanie majątku na rzecz Fundatorów, członków organów lub pracowników oraz
                        ich osób bliskich na zasadach innych niż w stosunku do osób trzecich, chyba że to
                        wykorzystanie bezpośrednio wynika ze statutowego celu Fundacji,
                    </li>
                    <li>
                        4. zakup na szczególnych zasadach towarów lub usług od podmiotów, w których uczestniczą
                        Fundatorzy lub członkowie organów lub pracownicy oraz ich osoby bliskie, na zasadach
                        innych niż w stosunku do osób trzecich lub po cenach wyższych niż rynkowe.
                    </li>
                </ul>

                <h2 class="text-center mt-5">
                    Rozdział IV. Władze Fundacji
                </h2>

                <p class='font-weight-bold text-center'>§ 10</p>

                Władzami Fundacji są:
                <ul>
                    <li>1. Zarząd Fundacji, zwany dalej Zarządem,</li>
                    <li>2. Rada Fundacji, zwana dalej Radą.</li>
                </ul>

                <h3 class="text-center mt-5">
                    Zarząd Fundacji
                </h3>

                <p class='font-weight-bold text-center'>§ 11</p>

                <ul>
                    <li>
                        1. Zarząd Fundacji składa się z 2 do 5 osób, w tym Prezesa.
                        2. Pierwszy skład Zarządu powołują Fundatorzy, stając na jego czele jako Prezes Zarządu i
                        Wiceprezes Zarządu.
                    </li>
                    <li> 3. Członek Zarządu jest członkiem stałym albo członkiem zwyczajnym. </li>
                    <li>
                        4. Członkami stałymi są Fundatorzy. Czas kadencji członka stałego jest nieoznaczony.
                        Zrzeczenie się przez Fundatora mandatu członka stałego Zarządu nie wyklucza możliwości
                        powołania go na członka zwyczajnego Zarządu.
                    </li>
                    <li>
                        5. Członków zwyczajnych może powoływać Zarząd uchwałą, podjętą jednomyślnie przez co
                        najmniej połowę składu Zarządu, z zastrzeżeniem ust. 2. Czas kadencji członka
                        zwyczajnego wynosi 3 lata. Mandat zwyczajnego członka Zarządu można pełnić przez
                        więcej niż jedną kadencję.</li>
                    <li>
                        6. W trakcie trwania kadencji mandat członka Zarządu wygasa na skutek:
                        <ol>
                            <li> 6.1. pisemnego zrzeczenia się, </li>
                            <li> 6.2. śmierci, </li>
                            <li> 6.2. śmierci, </li>
                            <li>
                                6.3. uchwały odwołującej członka zwyczajnego Zarządu, podjętej jednomyślnie przez
                            </li>
                        </ol>
                    </li>
                    <li>
                        7. Członkiem Zarządu nie może zostać osoba, która:
                        <ol>
                            <li> 7.1. jest członkiem partii politycznej, </li>
                            <li>
                                7.2. pełni funkcję publiczną, określoną w powszechnie obowiązujących przepisach
                                prawa.
                            </li>
                        </ol>
                    </li>
                    <li>
                        8. W przypadku odwołania, śmierci lub rezygnacji wszystkich członków Zarządu lub w
                        sytuacji, gdy ich liczba spadnie poniżej wartości określonej w ust. 1, nowy Zarząd powołują
                        Fundatorzy.
                    </li>
                </ul>

                <p class='font-weight-bold text-center'>§ 12</p>

                <ul>
                    <li>
                        1. Zarząd realizuje cele statutowe Fundacji, kieruje jej działalnością, prowadzi jej sprawy
                        i reprezentuje Fundację na zewnątrz.</li>
                    <li>
                        2. Do kompetencji Zarządu należy w szczególności:
                        <ol>
                            <li> 2.1. wytyczanie głównych kierunków działalności Fundacji,
                            </li>
                            <li> 2.2. nadzór i kontrola nad działalnością Fundacji, w szczególności kontrola stanu
                                majątkowego Fundacji,</li>
                            <li>2.3. sporządzanie okresowych sprawozdań z działalności Fundacji,</li>
                            <li> 2.4. podejmowanie decyzji o zmianie statutu Fundacji, </li>
                            <li> 2.5. uchwalanie regulaminów, </li>
                            <li> 2.6. powoływanie i odwoływanie członków Zarządu, </li>
                            <li> 2.7. kierowanie bieżącą działalnością Fundacji, </li>
                            <li> 2.8. realizacja celów statutowych, </li>
                            <li> 2.9. sporządzanie planów pracy i budżetu, </li>
                            <li> 2.10. reprezentowanie Fundacji na zewnątrz, </li>
                            <li> 2.11. zatrudnianie pracowników i ustalanie wysokości ich wynagrodzenia, </li>
                            <li> 2.12. podejmowanie decyzji o połączeniu z inną fundacją, </li>
                            <li> 2.13. podejmowanie decyzji o likwidacji Fundacji, </li>
                            <li> 2.14. podejmowanie decyzji we wszystkich innych sprawach niezastrzeżonych do
                                kompetencji innych organów.</li>
                        </ol>
                    </li>
                </ul>

                <p class='font-weight-bold text-center'>§ 13</p>

                <ul>
                    <li> 1. Posiedzenia Zarządu odbywają się w miarę potrzeb, nie rzadziej jednak niż raz na 6
                        miesięcy.</li>
                    <li> 2. Posiedzenie Zarządu zwołuje Prezes, przesyłając informację o terminie pocztą
                        elektroniczną, a w przypadku braku takiej możliwości listem poleconym na co najmniej 3
                        dni przed planowanym spotkaniem.</li>
                    <li> 3. O posiedzeniu muszą zostać poinformowani wszyscy członkowie Zarządu.</li>
                    <li> 4. Zarząd podejmuje decyzje za pomocą uchwał zwykłą większością głosów, przy obecności
                        co najmniej połowy członków organu, jeśli inne postanowienia statutu nie stanowią inaczej.
                        W przypadku równego rozłożenia głosów decyduje głos Prezesa.</li>
                </ul>

                <p class='font-weight-bold text-center'>§ 14</p>

                <ul>
                    <li> 1. Reprezentować Fundację na zewnątrz oraz zaciągać zobowiązania majątkowe może każdy
                        członek Zarządu samodzielnie.</li>
                    <li>

                        2. W sprawach majątkowych, których wartość przekracza 5000,00zł (pięć tysięcy złotych)
                        wymagany jest podpis dwóch członków Zarządu działających łącznie, w tym Prezesa lub
                        Wiceprezesa Zarządu.
                    </li>
                </ul>


                <h3 class="text-center mt-2">
                    Rada Fundacji
                    </h3>

                    <p class='font-weight-bold text-center'>§ 15</p>

                    <ul>
                        <li> 1. Rada Fundacji jest organem kontrolnym i opiniującym Fundacji.
                        </li>
                        <li> 2. Rada Fundacji składa się z 2 do 5 osób i jest wybierana na 3 letnią kadencję. Rada
                            wybiera
                            ze swojego grona Przewodniczącego Rady, który kieruje jej pracami.</li>
                        <li> 3. Funkcję członka Rady Fundacji można pełnić przez więcej niż jedną kadencję.</li>
                        <li> 4. Członków pierwszego składu Rady powołują Fundatorzy. Następnych członków Rady na
                            miejsce osób, które przestały pełnić tę funkcję lub dla rozszerzenia składu Rady, powołuje
                            swą decyzją Rada.</li>
                        <li> 5. Członkostwo w Radzie wygasa na skutek:
                            <ol>
                                <li> 5.1. dobrowolnego ustąpienia, zgłoszonego pisemnie do Przewodniczącego Rady,</li>
                                <li> 5.2. śmierci członka.</li>
                            </ol>
                        </li>
                        <li> 6. Członkiem Rady nie może zostać osoba, która:
                            <ol>
                                <li> 6.1. jest członkiem partii politycznej,</li>
                                <li> 6.2. pełni funkcję publiczną, określoną w powszechnie obowiązujących przepisach
                                    prawa.</li>
                            </ol>
                        </li>
                        <li> 7. W przypadku śmierci lub rezygnacji wszystkich członków Rady lub w sytuacji, gdy ich
                            liczba spadnie poniżej wartości określonej w ust. 2, nowy skład Rady powołują Fundatorzy.
                        </li>
                        <li>
                            8. Nie wolno łączyć funkcji Członka Rady Fundacji i Członka Zarządu Fundacji. Członkowie
                            Rady Fundacji nie mogą pozostawać z Członkami Zarządu w związku małżeńskim, we
                            wspólnym pożyciu, w stosunku pokrewieństwa, powinowactwa lub podległości służbowej.</li>
                    </ul>


                    <p class='font-weight-bold text-center'>§ 16</p>

                    <ul>
                        <li>
                            1. Do kompetencji Rady należy:
                            <ol>
                                <li> 1.1. nadzorowanie działalności Zarządu Fundacji, </li>
                                <li> 1.2. prowadzenie innych czynności z zakresu kontroli i nadzoru prac Fundacji. </li>
                            </ol>
                        </li>
                        <li>
                            2. Do zadań Rady należy ponadto:
                            <ol>
                                <li> 2.1. rozpatrywanie i opiniowanie rocznych planów finansowych oraz sprawozdań z
                                    ich realizacji,</li>
                                <li> 2.2. opiniowanie kierunków i metod działania Fundacji,
                                </li>
                                <li> 2.3. zajmowanie stanowiska w sprawach przedstawionych przez Zarząd Fundacji.
                                </li>
                            </ol>
                        </li>
                        <li> 3. Członkowie Rady mają prawo wglądu do całości dokumentacji Fundacji.
                        </li>
                        <li> 4. Członkowie Rady mogą uczestniczyć w posiedzeniach Zarządu z głosem doradczym.
                        </li>
                    </ul>


                    <p class='font-weight-bold text-center'>§ 17</p>

                    <ul>
                        <li>1. Rada Fundacji pracuje na posiedzeniach, które odbywają się nie rzadziej niż raz do roku.
                        </li>
                        <li>
                            2. Posiedzenia zwołuje Przewodniczący Rady Fundacji, wysyłając za pośrednictwem środków
                            komunikacji elektronicznej zaproszenia, w których zawiadamia członków Rady o
                            planowanym porządku obrad Rady Fundacji; posiedzenie może zwołać również każdy
                            Członek Zarządu Fundacji.
                        </li>
                        <li>
                            3. Z przebiegu posiedzeń Rady Fundacji spisuje się protokoły. Wymagany jest podpis
                            Przewodniczącego Rady Fundacji.
                        </li>
                    </ul>


                    <h2 class="text-center mt-5">
                        Rozdział V. Postanowienia końcowe
                    </h2>

                    <p class='font-weight-bold text-center'>§ 18</p>

                    <ul>
                        <li>
                            1. Zmian w statucie Fundacji dokonuje Zarząd Fundacji bezwzględną większością głosów przy
                            obecności co najmniej połowy członków uprawnionych do głosowania.
                        </li>
                        <li>
                            2. Zmiana w statucie może dotyczyć każdego postanowienia statutu, w tym również celów
                            Fundacji, przy czym cele Fundacji mogą być tylko rozszerzone o kolejne obszary lub
                            skonkretyzowane - nie ma możliwości wyłączenia jakiegokolwiek celu określonego przez
                            Fundatorów.
                        </li>
                    </ul>

                    <p class='font-weight-bold text-center'>§ 19</p>

                    <ul>
                        <li> 1. Fundacja może połączyć się z inną fundacją dla efektywnego realizowania swoich celów.
                        </li>
                        <li>
                            2. W sprawach połączenia z inną fundacją decyzję podejmuje Zarząd, bezwzględną
                            większością głosów, przy obecności co najmniej połowy członków uprawnionych do
                            głosowania.
                        </li>
                    </ul>


                    <p class='font-weight-bold text-center'>§ 20</p>

                    <ul>
                        <li> 1. Fundacja ulega likwidacji w razie osiągnięcia celów, dla których została ustanowiona lub
                            w
                            razie wyczerpania się jej środków finansowych i majątku.</li>
                        <li> 2. O likwidacji Fundacji decyduje Zarząd, w uchwale podjętej jednomyślnie przez cały
                            Zarząd. </li>
                        <li> 3. Likwidatorem Fundacji jest Zarząd. </li>
                        <li> 4. Środki finansowe i majątek pozostały po likwidacji Fundacji zostaną przeznaczone mocą
                            uchwały Zarządu na rzecz działających w RP organizacji o zbliżonych celach.</li>
                    </ul>
            </div>
        </div>
    </section>