title = "wsparcie"
url = "/wsparcie"
layout = "default"
description = "Strona z danymi do wsparcia fundacji"
is_hidden = 0
==
<section class="contact-section">
        <div class="container">
            <div class="d-none d-sm-block mb-5 pb-4">
                <div class="card">
                    <div class="card-header">
                        Wszelkie wpłaty prosimy kierować na konto:
                    </div>
                    <div class="card body p-5">
                        {% content "donate.htm" %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">

                </div>
                <div class="col-lg-8">

                </div>
            </div>
        </div>
</section>