{% set post = __SELF__.post %}

<div class="single-post">
    {% if post.featured_images.count %}
        <div class="feature-img">
            {% for image in post.featured_images %}
                <p>
                    <img class="img-fluid"
                        data-src="{{ image.filename }}"
                        src="{{ image.path }}"
                        alt="{{ image.description }}"
                        style="max-width: 100%" />

                </p>
            {% endfor %}
        </div>
    {% endif %}
    <div class="blog_details">
        <h1 style="color: #2d2d2d;">{{post.title}}</h1>
        <h3>{{post.excerpt}}</h3>
        <hr>
        <div class="excert mt-5">
            {{ post.content_html | raw }}
        </div>
        <hr>
        <ul class="blog-info-link mt-3 mb-4">
            {% if post.categories.count > 1 %}
            <li>
                Opublikowano <span style="font-style: italic">{{ post.published_at|date }}</span> w kategoriach:
                {% for category in post.categories %}
                <a href="{{ category.slug }}"> {{ category.name }} | </a>
                {% endfor %}
            </li>
            {% else %}
            <li>
                Opublikowano <span style="font-style: italic">{{ post.published_at|date }}</span> w kategorii:
                {% for category in post.categories %}
                <a href="{{ category.slug }}"> {{ category.name }}</a>
                {% endfor %}
            </li>
            {% endif %}
        </ul>
    </div>
</div>
