<!-- Edytujemy tylko tekst. pozostałe klasy i parametry odpowiadają za animację napisów. znacznik <br> oznacza przełamanie linii (przejście do następnego wiersza) -->

<h1 data-animation="fadeInUp" data-delay=".6s">Pomagamy<br> obywatelom.</h1>
<P data-animation="fadeInUp" data-delay=".8s">Zrozumieć polityków dzięki uporowi i dążeniu
    do ujawnienia wszelkich ważnych informacji</P>
