<div class="footer-wrapper section-bg2" data-background="{{ 'assets/img/gallery/footer_bg.png'|theme }}">

    <div class="footer-area footer-padding">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <div class="single-footer-caption mb-30">
                            <div class="footer-tittle">
                                <div class="footer-logo mb-20">
                                    <a href="{{ url('/home') }}"><img src="{{ 'assets/img/logo.png'|theme }}" class="img-fluid responsive" style="max-height: 150px;" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Kontakt</h4>{% content "contact/address.htm" %}</p>
                            </li>
                            <li>Telefon : {% content "contact/phone.htm" %}</li>
                            <li><a href="mailto:{% content "contact/email.htm" %}">{% content "contact/email.htm" %}</a>
                            </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Pozostałe projekty</h4>
                            <ul>
                                <li><a href="https://www.facebook.com/jawny.slask">Jawny Śląsk</a></li>
                                <li><a href="https://www.facebook.com/jawnezaglebie">Jawne Zagłębie</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">

                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom-area">
        <div class="container">
            <div class="footer-border">
                <div class="row d-flex justify-content-between align-items-center">
                    <div class="col-xl-10 col-lg-9 ">
                        <div class="footer-copy-right">
                            <p>
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> Wszystkie prawa zastrzeżone | Strona
                                wykonana z
                                <i class="fa fa-heart" aria-hidden="true"></i> przez <a href="https://www.facebook.com/smigielapl"
                                                                                        target="_blank">Daniel Śmigiela</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3">
                        <div class="footer-social f-right">
                            <a href="{% content "contact/fb_link.htm" %}" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
