==
<div class="header-area">
    <div class="main-header ">
        <div class="header-top d-none d-lg-block">
            <div class="container-fluid">
                <div class="col-xl-12">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="header-info-left d-flex">
                            <ul>
                                <li>Telefon: {% content "contact/phone.htm" %}</li>
                                <li>Email: <a style="color: #687693 !important"
                                              href="mailto:{% content "contact/email.htm" %}">{% content "contact/email.htm" %}</a></li>
                            </ul>
                            <div class="header-social ml-4">
                                <ul>
                                    <a href="{% content "contact/fb_link.htm" %}" target="_blank">
                                        <i style="color:#687693;" class="fab fa-facebook-f"></i>
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom  header-sticky">
            <div class="container-fluid">
                <div class="row align-items-center">

                    <div class="col-xl-2 col-lg-2">
                        <div class="logo">
                            <a href="{{ url('/') }}"><img class="img-fluid" style="max-width: 100px;" src="{{ 'assets/img/logo.png'|theme }}"
                                                      alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10">
                        <div class="menu-wrapper  d-flex align-items-center justify-content-end">

                            <div class="main-menu d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li class="{% if this.page.title == 'home' %}active{% endif %}"><a href="{{ url('/') }}">Home</a></li>
                                        <li class="{% if this.page.id == 'o-nas' %}active{% endif %}"><a href="{{ 'o-nas'|page }}">O nas</a></li>
                                        <li class="{% if this.page.id == 'statut' %}active{% endif %}"><a style="color: red;" href="{{ 'statut'|page }}">Statut fundacji </a></li>
                                        <li class="{% if this.page.id == 'blog' %}active{% endif %}"><a href="{{ url('blog') }}">Blog </a></li>
                                        <li class="{% if this.page.id == 'kontakt' %}active{% endif %}"><a href="{{ 'kontakt'|page }}">Kontakt </a></li>
                                    </ul>
                                </nav>
                            </div>

                            <div class="header-right-btn d-none d-lg-block ml-20">
                                <a href="{{ 'wsparcie'|page}}" class="btn header-btn">Wsparcie</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
