[blogPosts recentPost]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :slug }}"
postsPerPage = "{{ 5 }}"
noPostsMessage = "Nie znaleziono postów"
sortOrder = "random"
categoryPage = "category"
postPage = "blog_details"

[blogCategories categoryList]
slug = "{{ :slug }}"
displayEmpty = 1
categoryPage = "blog"
==
<div class="blog_right_sidebar">
    <aside class="single_sidebar_widget post_category_widget">
        <h4 class="widget_title" style="color: #2d2d2d;">Kategorie</h4>
        {% component 'categoryList' %}
    </aside>

    <aside class="single_sidebar_widget popular_post_widget">
        <h3 class="widget_title" style="color: #2d2d2d;">Polecane posty</h3>
        {% component 'recentPost' %}

    </aside>

</div>